env:
  normal:
    entorno: modificado
    redisHost: 10.20.0.10
    redisPort: '6379'
    mysqlHost: 10.20.0.10
    mysqlPort: '3306'
    apiURL: '{0}/api/Contratos/InformacionContratoPorNumeroDeEnvio/{1}?format=json'
  secret:
    mysqlUsername: user1
    mysqlPassword: password1
    redisUsername: user2
    redisPassword: password2
    apiToken: akgladkfi14$235kas#dlvxzxs
replicacontroller:
  revisionHistoryLimit: 1
  replicas: 3
service:
  Port: 8080
  targetPort: 8080
route: true
healthcheck:
  readiness: false
  readinesspath: /index.html
  readinessport: '8080'
  readinessscheme: HTTP
  liveness: false
  livenesspath: /index.html
  livenessport: '8080'
  livenessscheme: HTTP
cronjob:
  enable: false
  crons:
    '0':
      name: diario
      schedule: 10 10 * * *
      successfulJobsHistoryLimit: 3
      failedJobsHistoryLimit: 1
    '1':
      name: semanal
      schedule: 10 10 * * 5
      successfulJobsHistoryLimit: 3
      failedJobsHistoryLimit: 1
    '2':
      name: mensual
      schedule: 10 10 5 * *
      successfulJobsHistoryLimit: 3
      failedJobsHistoryLimit: 1
    '3':
      name: anual
      schedule: 10 10 * 12 5
      successfulJobsHistoryLimit: 3
      failedJobsHistoryLimit: 1
configMap:
  enable: false
  path: /home/redis-master
  file: redis.conf
  key: redis-config
  map:
    linea1: |-
      uno 
       dos
clusterlogging: true
